body {
  margin: 0;
  padding: 0;
  background-color: #95afc0;
}
#box {
  width: 350px;
  background-color: #dff9fb;
  border: 4px solid #192a56;
  border-radius: 30px;
  padding: 30px 40px;
  margin: 50px auto;
}
#box .tap {
  display: flex;
}
#box .tap div {
  flex: 1;
  text-align: center;
  border: 3px solid #273c75;
  border-radius: 15px 15px 0 0;
  height: 30px;
  line-height: 30px;
  color: #273c75;
  background-color: #dff9fb;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
#box .tap .tap-selected {
  background-color: #273c75;
  color: #dff9fb;
}
#box .login div,
#box .reg div,
#box .update div {
  display: flex;
  margin-top: 20px;
}
#box .login div span,
#box .reg div span,
#box .update div span {
  font-size: 20px;
  color: #192a56;
  width: 110px;
  text-align-last: justify;
  user-select: none;
}
#box .login div i,
#box .reg div i,
#box .update div i {
  font-style: normal;
  width: 20px;
  user-select: none;
}
#box .login div input,
#box .reg div input,
#box .update div input {
  flex: 1;
  border: 1px solid #273c75;
  border-radius: 2px;
  padding-left: 3px;
}
#box .login .btn button,
#box .reg .btn button,
#box .update .btn button {
  margin: 2px auto 0;
  border: 2px solid #273c75;
  border-radius: 10px;
  color: #dff9fb;
  background-color: #273c75;
  height: 40px;
  line-height: 36px;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
}
#cont {
  text-align: center;
  margin-top: 50px;
  color: #192a56;
  font-size: 50px;
  font-weight: bold;
}
#cont span {
  text-decoration: underline;
}
#cont button {
  border: 2px solid #273c75;
  border-radius: 10px;
  color: #dff9fb;
  background-color: #273c75;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.hidden {
  display: none;
}
