body,div,p,h1,h2,h3,h4,h5,h6,ul,li,img,input,button,a{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img,input{
    outline: none;
}

.hidden{
    display: none;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
    width: 0px;
    height: 0px;
    font-size: 0px;
}