body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
img {
  border: none;
  outline: none;
}
.wrap {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.clear::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  clear: both;
}
